module "terraform_<provider>_mml_<name>" {
  source  = "app.terraform.io/mymadlab/mml_module_builder/tfe"
  version = "~>0.2.0"

  name = join("-",["terraform-<provider>", "mml_<name>"])
  description = "<description>"
  tfe_org = var.tfe_org
  github_org        = var.github_org
  vcs_provider_name = var.vcs_provider_name

}
